$red: #cc3226;
$dark-brown: #603f25;
$light-brown: #966c43;
$light-yellow: #f6e17e;
$dark-yellow: #edce70;
.scroll-content {
    background: $light-yellow;
}

.tabs-md .tab-button {
    color: white;
    background-color: $dark-brown;
}
.tabs-md .tab-button  .tab-button-icon{
  color: white;
  background-color: $dark-brown;
}
.tabs-md .tab-button[aria-selected=true] {
  color: $light-yellow;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: $light-yellow;
}

@font-face {
  font-family: 'Western';
  src: url('../assets/fonts/RioGrande.ttf');
}
@font-face {
  font-family: 'WesternSoft';
  src: url('../assets/fonts/Marlboro.ttf');
}
ion-content h1 {
  font-family: 'Western';
}
ion-content ion-title, ion-content p, ion-content div {
  font-family: 'WesternSoft';
  font-size: 1.1em;
}