<ion-content>
  <div *ngIf="state == State.RESTING || state == State.WAITING">
    <h1>Cowboy Arena</h1>
    <ion-list radio-group [(ngModel)]="genderPreference">
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="M"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="F"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Both</ion-label>
        <ion-radio value="ANY" checked></ion-radio>
      </ion-item>
    </ion-list>
    <span>Select your gender preference</span>
  </div>
  <button *ngIf="state == State.RESTING" ion-button class="start" (click)="startPlaying()">Search For Duels</button>
  <button *ngIf="state == State.WAITING" ion-button class="stop" (click)="stopPlaying()">Leave Quest</button>
  <button *ngIf="state == State.IN_MATCH" ion-button class="shoot" (click)="shoot()">Click the screen to shoot!</button>
  <h1 *ngIf="state == State.COOLDOWN">MISS!</h1>
  <div *ngIf="state == State.WAITING_MATCH_RESULT">
    <h1>Match ended!</h1>
    <span>Please wait for the results...</span>
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="state == State.VIEWING_MATCH_RESULT">
    <p *ngIf="hasWon">Congratulations! You won the duel!</p>
    <p *ngIf="!hasWon">You lost the duel!</p>
    <button ion-button (click)="state = State.RESTING">Ok!</button>
  </div>

</ion-content>
